body{
    background-color: beige;
}

header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.sidebar {
    width: 200px;
    float: left;
    background-color: lightgray;
    padding: 10px;
}

.content {
    margin-left: 220px;
    padding: 10px;
}

footer {
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
}